VITE_API_URL=/api
VITE_API_PROXY_TARGET=https://localhost:3001
VITE_SOCKET_URL=https://localhost:3001
VITE_ENABLE_HTTPS=true
VITE_SSL_KEY_PATH=../gestArtes-api/certs/gestartes.key
VITE_SSL_CERT_PATH=../gestArtes-api/certs/gestartes.crt
