#VITE_API_URL=http://localhost:3001

# HTTPS — para dev com HTTPS no backend
VITE_API_TARGET=https://localhost:3001
VITE_SSL_KEY_PATH=../gestArtes-api/certs/gestartes.key
VITE_SSL_CERT_PATH=../gestArtes-api/certs/gestartes.crt
